.footer {
    display: flex;
    flex-wrap: wrap;
    margin-right: rem;
    justify-content: space-between;
    color: white;
    background-color: rgba(19, 19, 19, 0.9);
}

.leftflex {
    display: flex;
    flex-wrap: wrap;
    margin-right: rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.rightflex {
    display: flex;
    flex-wrap: wrap;
    margin-right: 2.5rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.content {
    margin-left: 2rem;
    margin-top: 1.5rem;
}